/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #979393;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 15px;
}

.navbar .logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ffd700;
}

/* Full Page Background Video */
.background-video {
  position: relative;
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

#video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.overlay h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 24px;
  opacity: 0.8;
}

/* Menu Section */
.menu-section {
  background-color: #faedf8;
  padding: 100px 0;
  text-align: center;
  display: relative;
  margin-top: 5px;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 0 50px;
  margin-top: -5px;
  animation: scrollMenu 13s linear infinite;
}

/* Scroll animation for menu items */
@keyframes scrollMenu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.menu-item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(255, 252, 252, 0.3);
}

.item-info {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 20px;
  color: white;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-item:hover .item-info {
  opacity: 1;
  transform: translateY(0);
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
